*{
    margin: 0;
    padding: 0;
    /* margin-left: 10px; */
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(100, 148, 237, 0.1);
}

nav {
    display: flex;
    width: 100%;
    height: 15vh;
    position: absolute;
    top: 20px;
    justify-content: space-between;
}

nav .nav1{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
    width: 85%;
    margin-right: 20px;
}

nav .nav1 .logo {
    width: 5em;
    height: 1.5em;
    cursor: pointer;
    margin-left: 40px;
}

nav .nav1 ul{
    display: flex;
    width: 30%;
    list-style: none;
    justify-content: space-between;
}

nav ul li a {
    /* display: flex;
    justify-content: flex-end; */
    text-align: right;
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    font-size: 0.9em;
}

nav .div{
    display: flex;
    height: 32px;
    width: 65px;
    outline: none;
    background-color: rgba(212, 212, 212, 0.01);
    border: 2px solid #40a8c4;
    cursor: pointer;  
    margin-right: 40px;
}

nav .div a {
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: #40a8c4;
    margin: auto;
    /* align-content: center; */ 
}

.container{
    width: 100%;
    padding: 20px;
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 'image content';
}

.container .image{
    grid-area: image;
    margin-left: 5em;
    /* min-width: 200px; */
}

.content{
    margin: auto;
    grid-area: content;
}

.content h1 {
    font-family: unset;
    font-size: 38px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 5px;
    color: #000000;
}

.content p {
    width: 80%;
    font-family: sans-serif;
    font-size: 16px;
    margin: 8px 5px;
    color: #000000;
    word-spacing: 5px;
    text-align: justify;
}

.content .tombol {
    height: 40px;
    width: 150px;
    outline: none;
    margin-top: 24px;
    margin-left: 5px;
    background-color: #40a8c4;
    border: 2px solid #40a8c4;
    color: #fdfdfd;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(63, 43, 43, 0.4);
}

.content .tombol:hover{
    background-color: #0086ac;
    border: 2px solid #0086ac;
}

.content a{
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    margin: 3px;
}

#nav{
    display: none;
}

.navMobile {
    display: none;
    margin-right: 5px;
    cursor: pointer;
}

.isiNavMobile{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(2, 110, 139, 0.9);
    box-shadow: 0px 3px 3px 3px rgba(122, 122, 122, 0.5);
    /* display: none; */
    z-index: 9999;
    transition: 0.5s;
}

.isiNavMobile ul li a{
    font-size: 18px;
   color:  #fff;
   font-weight: 500;
   text-decoration: none;
   align-items: none;
   font-family: sans-serif;
}

.isiNavMobile ul li{
    padding: 24px;
    transition: 0.3s;
    transition-property: background-color;
}

.isiNavMobile ul li:hover{
    background-color: rgb(250, 178, 44);
}

#nav:checked ~ .isiNavMobile {
    left: 0;
}

@media (max-width: 768px){
    nav .nav1 ul{
        width: 50%;
    }
}

@media (max-width: 576px){
    body{
        overflow: scroll;
    }

     .navMobile{
        display: block;
    }

    nav .div{
        display: none;
    }
    nav .nav1 ul{
        display: none;
    }

    .container{
        grid-template-columns: 0.8fr;
        grid-template-areas: 
        'content'
        'image';
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .container h1{
        width: 50%;
    }

    .container p{
        width: 80%;
    }

    .container .image{
        margin-left: -50px;
    }

    .content .tombol{
        width: 165px;
        height: 35px;
    }
}