*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(100, 148, 237, 0.1);
}

.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    grid-template-areas: 
    'nav'
    'content';
}

.header{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 50px;
    background-color: #40a8c4;
}

.header img{
    display: flex;
    width: 60px;
    padding: 10px 10px 10px 30px;
    margin: 7px 50px;
}

.header a{
    display: flex;
    font: 16px 'Poppins',sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: black;
    margin: 15px 100px; 
    /* justify-content: flex-end; */
    /* position: relative;
    top: -22px;
    right: -1000px;
    padding: 10px;
    margin: 5px; */
}

.content{ 
    /* display: flex;
    justify-content: center; */
    grid-area: content;
    width: 60%;
    height: 100%;
    margin: auto;
    padding: 20px;
    /* margin: 0px 250px;
    padding: 20px; */
    background-color: white;
    /* align-items: center; */
    border-radius: 10px;
}

.content h1{
    padding-top: 10px;
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(32, 32, 32);
}

.content p{
    padding: 10px 0;
    font-size: 16px;
    font-family: sans-serif;
    color:  rgb(77, 77, 77);
    text-align: justify;
}

.content h3 {
    padding: 10px 0;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(46, 46, 46);
}

@media (max-width: 768px){
    .content{
        position: relative;
        top: -30px;
        width: 70%;
        padding-top: 0px;
    }
}

@media (max-width: 576px){
    .content{
        position: relative;
        top: -80px;
        padding-top: 0px;
        width: 80%;
    }

}