body{
    width: 100%;
    height: 100%;
    background-color: rgb(100, 148, 237, 0.1);
}

.header{
    position: relative;
    top: -25px;
    right: 8px;
    width: 100%;
    height: 50px;
    background-color: #40a8c4;
}

.header img{
    width: 60px;
    padding: 10px 10px 10px 30px;
    margin: 7px 50px;
}

.header a{
    font: 16px 'Poppins',sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: black;
    position: relative;
    top: -22px;
    right: -1000px;
    padding: 10px;
    margin: 5px;
}

.content{
    width: 60%;
    height: 100%;
    margin: 0px 250px;
    padding: 20px;
    background-color: white;
    align-items: center;
    border-radius: 10px;
}

.content h1{
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(32, 32, 32);
}

.content p{
    font-size: 16px;
    font-family: sans-serif;
    color:  rgb(77, 77, 77);
    text-align: justify;
}

.content h3 {
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(46, 46, 46);
}