body{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(100, 148, 237, 0.1);
}

.header{
    width: 100%;
    height: 50px;
    position: relative;
    top: 0px;
}

.header img{
    width: 60px;
    padding: 10px 10px 10px 30px;
    margin: 7px 50px;
}

.header nav ul li {
    display: inline-block;
    list-style: none;
    position: relative;
    top: -55px;
    left: 120px;
    margin: 0px 20px;
}

.header nav ul li a{
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}

.kiri{
    width: 40%;
    height: 70%;
    position: relative;
    top: 150px;
    left: 200px;
}

.kiri form .SignUp{
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 700;
    margin: 0px 40px 10px 0px;
    color: rgb(107, 107, 107,0.5);
}

.kiri form .SignUp:hover{
    color: #40a8c4;
}

.kiri form .Login{
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 700;
    margin: 0px 40px 10px 120px;
    color: #40a8c4;
    border-bottom: 2px solid #40a8c4;
    padding-bottom: 5px;
}

.kiri form .textbox{
    position: relative;
    left: -10px;
    width: 100%;
    padding: 10px 0px;
    margin:  5px 0;
}

.kiri form input{
    width: 300px;
    padding: 9px 16px;
    margin:  12px 0;
    outline: none;
    border-radius: 20px;
    border: 1px solid #eaeaea;
    box-shadow: 0px 3px 3px rgba(204, 204, 204, 0.4);
}

.kiri form .masuk{
    position: relative;
    left: 105px;
    padding: 10px 20px 10px 20px ;
    width: 135px;
    background-color: #40a8c4;
    border: none;
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgb(64, 168, 196, 0.4);
    outline: none;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.kiri form .masuk:hover{
    background-color: #0184a8;
}

.kiri form p{
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    margin-left: -230px;
    color: rgb(82, 80, 80)
}

.kiri form p a{
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #40a8c4;
}

.kanan img{
    width: 650px;
    position: relative;
    top: -320px;
    right: -660px;
}

.kiri .textbox #userKosong,
.kiri .textbox #passKosong{
    margin-top: 5px;
    width: 300px;
    font-size: 14px;
    color: #c62828;
    padding: 3px 8px;
    border-radius: 3px;
    font-family: sans-serif;
    display: none;
}
