*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color:white;
}

.header{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    background-color: #40a8c4;
    box-shadow: 0 3px 3px  rgba(100, 148, 237, 0.2);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}

nav .header .MS{
    width: 100%;
    display: flex; 
    justify-content: space-between;
} 

.header .MS h1{
    /* margin: 10px;  */
    padding: 5px; 
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
} 

/* .header .MS .search{
    width: 100%;
    height: 25px;
    border:1.5px solid #40a8c4;
    border-radius: 15px;
    background-color: white;
    display: flex;
    padding: 0 10px;
    align-items: center;
}

.header .search input{ 
    /* margin-left: 30px; 
    width: 100%;
    height: 23px;
    outline: none;
    border-radius: 8px;
    border: none;
}

.header .search img{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
} */

.header .HL{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.header .HL .logo{
    width: 30%;
}

.header a{ 
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.header a:hover{
    color:#FFC93c;
}

.header .logo{
    width: 20px;
    height: 20px;
}

section{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.sidebar{
    width: 18%;
    height: auto;
    background-color: white;
    box-shadow: 2px 0 3px rgba(66, 66, 66, 0.2);
    /* z-index: 999999; */
    padding-top: 60px;
    box-sizing: border-box;
    /* display: none; */
}

.sidebar ul{
    width: 100%;
    /* display: flex;
    flex-direction: column; */
}

.sidebar ul li{
    width: 90%;
    display: flex;
    height: 35px;
    list-style: none;
    border-radius: 30px;
    transition: 0.3s;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-weight: 700;
    transition: 0.3s;
    margin: auto;
}

.sidebar ul li:hover{
    background-color: #40a8c4;
    height: 35px;
    color: white;
}

.sidebar img{
    margin-right: 10px;
}

.tengah {
    width: 50%;
    height: 100%;
    /* background-color: rgb(46, 190, 226); */
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    box-sizing: border-box;
}

.tengah h2{
    font-size: 23px; 
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.tengah form{
    width: 90%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 1px rgb(138, 137, 137, .3);
}

.tengah input{
    width: 95.5%;
    height: 30px;
    border: gray solid 1.8px;
    margin: 10px ;
    outline: none;
    border-radius: 5px;
    padding: 3px;

}

.tengah .tombol{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tengah .reset, .tengah .button{
    height: 40px;
    background-color: #40a8c4;
    border: none;
    box-shadow: 0px 4px 8px 1px rgb(138, 137, 137, .5);
    color: white;
    font-size: 700;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.tengah .reset:hover{
    background-color: #0e84a5;
}

.tengah .button:hover{
    background-color: #0e84a5;
}


table{
    width: 90%;
    text-align: center;
    margin: 5% auto;
}

#daftarKelas{
    display: flex;
    align-items: center;
    flex-direction: column;
} 
 
 table th {
    width: 60%;
    border: 2px solid #FFC93c;
    background-color: #FFC93c;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; 
    height: 40px;
}

 table td{
     background-color:  rgba(231, 230, 230, 0.5);
     padding: 10px;
 } 

.isi{
    width: 30%;
    background-color: white;
    box-shadow: 0 0 3px 3px rgb(79, 79, 80,0.08);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 5% 2%;
}

.isi h1{ 
    font-size: 23px;
    padding-top: 20px;
    font-family: sans-serif;
}

.isi h3{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
}

.timeline{
    width: 100%;
    /* display: flex; */
}

/* .timeline ul{
    display: flex;
    flex-direction: column;
} */

.timeline ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(156, 156, 156, 0.3);
    padding: 5px;
    list-style: none;
}

.timeline ul li h1{
   padding: 12px;
    box-sizing: border-box;
    width: 40px;
    height: 40px; 
    font-size: 16px;
    font-family: sans-serif;
    background-color: #ffc93c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.timeline ul li h4{
    font-weight: 100;
    font-size: 13px;
    font-family: sans-serif;
}

.timeline ul li span{
    font-weight: 100;
    font-size: 12px;
    font-family: sans-serif;
    color: rgb(126, 126, 126);
}   

.timeline ul li h5{
    font-weight: 100;
    font-size: 13px;
    font-family: sans-serif;
} 

.timeline ul li p{
    font-weight: 100;
    font-size: 12px;
    font-family: sans-serif;
    color: rgb(126, 126, 126);
} 

.timeline ul li img{
    width: 20px
}

.timeline ul li:hover{
    background-color: rgba(100, 148, 237, 0.2);
}

.tengah form label{
    font-weight: 500;
    font-size: 16px;
    font-family: sans-serif;
}

.delete{
    width: 80px;
    height: 30px;
    background-color: red;
    border: none;   
    color: rgb(0, 0, 0);
    font-weight: 500;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.delete:hover{
    background-color: rgb(199, 1, 1);
} 

#nav{
    display: none;
}

.isiNavMobile{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(2, 110, 139, 0.9);
    z-index: 9999;
    transition: 0.5s;
}

.isiNavMobile ul{
    position: absolute;
    top: 0;
    width: 100%;
}

.isiNavMobile ul li a{
   color: #fff;
   font-weight: 500;
   text-decoration: none;
   font-family: sans-serif;
}

.isiNavMobile ul li{
    list-style: none;
    padding: 24px;
    transition: 0.3s;
    transition-property: background-color;
}

.isiNavMobile ul li:hover{
    background-color: rgb(250, 178, 44);
}

.isiNavMobile ul li .cari{
    width: 70%;
    height: 25px;
    border:1.5px solid #40a8c4;
    border-radius: 15px;
    background-color: white;
    display: flex;
    padding: 0 10px;
    align-items: center;
}

.isiNavMobile ul li  .cari input{ 
    /* margin-left: 30px; */
    width: 100%;
    height: 23px;
    outline: none;
    border-radius: 8px;
    border: none;
}

.isiNavMobile ul li  .cari img{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}

/* #MenuAtas{
    margin: 15px auto;
    width: 90%;
    height: 75px;
    background-color: rgba(236, 236, 236, 0.4);
    box-shadow: 0 3px 10px 1px rgba(153, 153, 153, 0.3);
    border-radius: 17px;
}

#MenuAtas img{
    position: relative;
    top: 27px;
    left: 75px;
    width: 95px;
    height: 30px;
/* } */

#MenuAtas a{
    display: block; 
    background-color: #313d3f;
    width: 15%;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px; 
    margin: 10px;
    position: absolute;
    top: 10px;
    left: 0;
    text-align: center;
}

.navMobile {
    display: none;
    cursor: pointer;
    z-index: 99999;
    position: absolute;
    top: 20px;
    right: 10px;
}

#nav:checked ~ .isiNavMobile {
    left: 0;
}

@media (max-width : 576px) {
    section{
        display: flex;
        justify-content: center;
    }
    .navMobile {
        display: block;
        margin-right: 30px;
    }

    nav .header{
        display: none;
    }

    .isi{
        display: none;
    }

    .sidebar{
        display: none;
    }

    .tengah{
        width: 85%;
    }

    #MenuAtas{
        display: block;
    }

    .tengah{
        margin-top: 20%;
    }
}
