body {
    height: 100%;
    width: 100%;
    position: relative;
    top: -20px;
    overflow: hidden;
    background-color: rgb(100, 148, 237, 0.1);
}

.header {
    width: 100%;
    height: 15vh;
    margin: 20px;
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    cursor: pointer;
    margin-left: 60px;
}

nav {
    flex: 1;
    padding-left: 60px;
    margin-left: 670px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px; 
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    font-size: 14px;
}

.button {
    height: 32px;
    width: 65px;
    outline: none;
    margin-right: 45px;
    background-color: rgba(212, 212, 212, 0.01);
    border: 2px solid #40a8c4;
    cursor: pointer;
}

.buton{
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    position: relative;
    top: 0px;
    right: 95px;
    color: #40a8c4;
}

.gambar1{
    width: 620px;
    position: absolute;
    left: 70px;
    top: 70px;
}

.kanan{
    box-sizing: border-box;
    width: 550px;
    height: 600px;
    margin: 5px;
    position: relative;
    right: -800px;
    top: 130px;
}

.kanan h1 {
    font-family: unset;
    font-size: 50px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 5px;
    color: #000000;
}

.kanan p {
    font-family: sans-serif;
    font-size: 14px;
    margin: 8px 5px;
    color: #000000;
    word-spacing: 5px;
    text-align: justify;
}

.kanan .tombol {
    height: 40px;
    width: 110px;
    outline: none;
    margin-top: 24px;
    margin-left: 5px;
    background-color: #40a8c4;
    border: 2px solid #40a8c4;
    color: #fdfdfd;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(63, 43, 43, 0.4);
}

.kanan a{
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    margin: 3px;
}
